<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Site Report</title>
  </head>
  <body>
    <% @single_site.each do |site_row| %>
    <h1>
      <%= site_row['site_name'] %>
    </h1>
    <h2>
      Site ID: <%= site_row['site_id'] %>
    </h2>
    <% end %>
    <table>
      <thead>
        <tr>
          <th>Site Question</th>
          <th>Site Answer</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <% @site_dictionary.each do |key, item| %>
      <hr>
      <div style="padding-top: 10px; padding-bottom: 10px;">
        <table>     
          <tr>
            <td style="padding: 10px"><%= key %></td>          
            <td><b><%= item[:name] %></b></td>
          </tr>
          <% item[:value].each do |x| %>
            <tr>
              <td></td>
              <td><%= x %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </body>
</html>
