<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Site Report</title>
  </head>
  <body>
    <% @single_site.each do |site_row| %>
      <h1 class="font-heading">
        Site: <%= site_row['site_name'] %>
      </h1>
    <% end %>

    <!-- Start of Registration Answers -->
    <% @pdf_reg_answers.each do |category, questions| %>
      <h2><%= category %></h2>
      <% questions.each do |key, item| %>
        <hr class="no-margin">
        <div class= "<%= cycle('white', 'mint') -%> question-padding">
          <table>   
            <tr>
              <td class="td-padding"><%= key %></td>          
              <td><b><%= item[:name] %></b></td>
            </tr>
            <% item[:value].each do |x| %>
              <tr>
                <td></td>
                <% if x.class == Hash -%>
                  <td>
                    <% x.each do |key, value| -%>
                      <b><%= key.capitalize -%>:</b> <%= value -%>, 
                    <% end -%>
                  </td>
                <% else -%>
                  <td><%= x %></td>
                <% end -%>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
      <div class="pagebreak"> </div>
    <% end %>

    <!-- Start of Monitoring Answers -->
    <% @pdf_mon_answers.each do |uuid, values| %>
      <h2>Date of Entry: <%= values["monitoring_date"] %></h2>
      <% values["answers"].each do |category, questions| %>
        <h2><%= category %></h2>
        <% questions.each do |key, item| %>
          <hr class="no-margin">
          <div class= "<%= cycle('white', 'mint') -%> question-padding">
            <table>   
              <tr>
                <td class="td-padding"><%= key %></td>          
                <td><b><%= item[:name] %></b></td>
              </tr>
              <% item[:value].each do |x| %>
                <tr>
                  <td></td>
                  <% if x.class == Hash -%>
                    <td>
                      <% x.each do |key, value| -%>
                        <b><%= key.capitalize -%>:</b> <%= value -%>, 
                      <% end -%>
                    </td>
                  <% else -%>
                    <td><%= x %></td>
                  <% end -%>
                </tr>
              <% end %>
            </table>
          </div>
        <% end %>
      <% end %>
      <div class="pagebreak"> </div>
    <% end %>  
    
  
  </body>
</html>
